<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isArchived</key>
	<false/>
	<key>tags</key>
	<array>
		<string>Tag Number 2</string>
	</array>
	<key>webLocation</key>
	<dict>
		<key>relative</key>
		<string>https://www.google.com/search?hl=en&amp;q=search%20for%20number%2032</string>
	</dict>
	<key>webTitle</key>
	<string>Google: The Epic Search for the number: 32</string>
</dict>
</plist>
