<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isArchived</key>
	<false/>
	<key>tags</key>
	<array/>
	<key>webLocation</key>
	<dict>
		<key>relative</key>
		<string>https://click.mlsend.com/link/c/YT0xMDc0NTExNzQ0MzkyNTAwNjAzJmM9ZTlzMyZlPTM3NDI0NDEzJmI9MjI3MTk1MTE0JmQ9aDVhNmk1Zw==.kvT1EgiGZPciP8xIJ_AWYOrOfqy11s0trIz-NcBvF90</string>
	</dict>
	<key>webTitle</key>
	<string>nuberodesign &gt; blog &gt; Save changes before quitting?</string>
</dict>
</plist>
